* {
    margin: 0;
    padding: 0;
}

/*main Start*/
.main-wrap {
    width: 100vw;
    height: 100vh;
    border: 1px solid red;
    position: fixed;
    display: flex;
}

/*main End*/
/* start left*/

.left-outer {
    width: 280px;
    height: 100vh;
    border: 1px solid red;
    margin-left: 90px;
    background-color: #f2f3f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

/*profile image*/

.profile-image-outer{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background: url("https://media.istockphoto.com/photos/millennial-male-team-leader-organize-virtual-workshop-with-employees-picture-id1300972574?b=1&k=20&m=1300972574&s=170667a&w=0&h=2nBGC7tr0kWIU8zRQ3dMg-C5JLo9H2sNUuDjQ5mlYfo=") no-repeat center;
    background-size: cover;
}

/*profile image*/

/*Designation*/

.name{
    text-align: center;
    font-family: 'Lobster', cursive;
    margin-top: 10px;
}

.occupation{
    font-family: 'Kanit', sans-serif;
    text-align: center;
    color: #7f8c8d;
    font-weight: normal;
}

/*Designation*/

/* end left*/

/* start right*/
.right-outer {
    height: 100vh;
    border: 1px solid blue;
    flex: 1;
    margin-right: 90px;
}

/* end right*/
